.collection-list-m {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    width: 100%;
}
body {
    min-height: 0px;
}
.collection-list-m__collection > button {
    background-color: transparent;
    max-width: 100%;
    padding: 0 0 5% 0;
}