.about {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.about__left {
    max-width: 25%;
    margin-top: 10%;
    margin-right: 5%; 
    text-align: right;
}
.about__left > p {
    margin-bottom: 1em;
}
.about__right {
    max-width: 25%;
    margin-top: 10%;
    margin-right: 10%;
}
.about__right > img {
    max-width: 100%;
    height: auto;
    display: block;
}