html, body, #app, #app>div {
    height: 100vh
}

.container {
    position: relative;
}
.fade-enter {
    position: absolute;
    left: -100vw;
}
.fade-enter.fade-enter-active {
    left: 0;
    transition: 0.5s;
}

.fade-exit {
    position: absolute;
    left: 0;
}
.fade-exit.fade-exit-active {
    left: 100vw;
    transition: 0.5s;
}