html, body, #app, #app>div {
    height: 100vh
}
.container {
    position: relative;
}

/* transition with transform: translate  */
.fade-enter {
    position: absolute;
    max-width: 100vw;
    transform: translate(-100vw, 0);
}
.fade-enter.fade-enter-active {
    transform: translate(0, 0);
    transition: 0.5s;
}
.fade-exit {
    position: absolute;
    transform: translate(0, 0);
}
.fade-exit.fade-exit-active {
    transform: translate(100vw, 0);
    transition: 0.5s;
}