.artwork {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: opacity 1.2s;
    transition: opacity 1.2s;
}
.artwork--hidden {
    opacity: 0.01;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}
.artwork__next {
    text-align: left;
}
img {
    /* max-width: 40vw; */
    max-height: 100%;
    height: 80vh;
    /* object-fit: contain; */
}
p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-top: 10px;
}

