.image {
    position: absolute;
    opacity: 1;
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
    transition: opacity 1s ease-in-out;
}
.image--hidden {
    /* position: absolute; */
    opacity: 0;
    /* -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
    transition: opacity 3s; */
}
.image-container {
    /* position: relative; */
}