.artwork {
    opacity: 1;
    -webkit-transition: opacity 1.2s;
    transition: opacity 1.2s;
}
.artwork--hidden {
    opacity: 0.01;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}
.artwork__next {
    text-align: left;
    /* position: absolute; */
}
img {
    /* max-width: 40vw; */
    max-height: 100%;
    height: 80vh;
    /* object-fit: contain; */
}
p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-top: 10px;
}

.component-wrapper {
    transition: height 0.5s;
    overflow: hidden;
  }
  
  .before-enter {
    opacity: 0;
  }
  
  .entering {
    opacity: 1;
    transition: opacity 0.5s;
  }
  
  .before-leave {
    opacity: 1;
  }
  
  .leaving {
    opacity: 0;
    transition: opacity 0.5s;
  }


  .cross-fade-leave {
    opacity: 1;
  }
  .cross-fade-leave.cross-fade-leave-active {
    opacity: 0;
    transition: opacity 1s ease-in;
  }
  .cross-fade-enter {
    opacity: 0;
  }
  .cross-fade-enter.cross-fade-enter-active {
    opacity: 1;
    transition: opacity 1s ease-in;
  }
  .cross-fade-height {
    transition: height .5s ease-in-out;
  }