.collection {
    display: flex;
    flex-direction: column;
    /* padding-left: 20px; */
    overflow: hidden;
    max-height: 1000px;
    transition: max-height 1s ease-in-out;
}

.collapsed {
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

button {
    appearance: none;
    -webkit-appearance: none;
    color: black;
    background-color: white;
    border: none;
    text-align: left;
    font-size: 1em;
    padding-top: 10px;
    padding-left: 0px;
    
}
button:hover {
    cursor: pointer;
    color: gray;
}
button:focus {
    outline: 0;
}