.contact {
    position: absolute;
    font-size: 1em;
    right: 10%;
    width: 30%;
    height: 12%;
    align-items: center;
    background-color: black;
    overflow: hidden;
    max-height: 200px;
    transition: max-height 1s ease-in-out;
    
}
.contact > p {
    /* background-color: black; */
    color: white;
    /* border-style: solid; */
    padding-top: 15%;
    padding-left: 5%;
}

.contact--hidden {
    max-height: 0px;
}