.contact {
    position: absolute;
    /* border-style: solid; */
    font-size: 1em;
    
    /* align-self: right; */
    right: 10%;
    width: 20%;
    height: 10%;
    /* top: 2.5%; */
    /* justify-content: space-between; */
    /* padding: 2.5%; */
    align-items: center;
    /* color: white; */
    background-color: black;
    /* opacity: 0.9; */
    /* border-radius: 12px; */
    overflow: hidden;
    max-height: 100px;
    transition: max-height 1s ease-in-out;
    
}
.contact > p {
    /* background-color: black; */
    color: white;
    /* border-style: solid; */
    padding-top: 15%;
    padding-left: 5%;
}

.contact--hidden {
    max-height: 0px;
}