.contact {
    position: absolute;
    font-size: 1em;
    top: 0;
    right: 0;
    height: 100vh;
    width: 20vw;
    align-items: center;
    background-color: black;
    overflow: hidden;
    max-height: 200px;
    transition: max-height 1s ease-in-out;
}
.contact > p {
    color: white;
}
.contact--hidden {
    max-height: 0px;
}