.portfolio {
    border-style: solid;
    border-color: green;
    display: flex;
    flex-direction: column;
    padding: 0% 10%;
    height: 100vh;
}
.portfolio__header {
    /* border-style: solid; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    font-size: 1.2em;
}
.portfolio__content {
    /* border-style: solid; */
    display: flex;
    flex-direction: row;
}
.portfolio__list {
    /* border-style: solid; */
    display: flex;
    max-width: 30%;
    flex-basis: 100%;
    /* position: absolute; */
}
.portfolio__image {
    /* border-style: solid; */
    max-width: 66%;
    flex-basis: 100%;
    /* padding-left: 30%; */
}
/* div {
    border-style: solid;
} */

