.portfolio {
    /* border-style: solid;
    border-color: green; */
    display: flex;
    flex-direction: column;
    padding: 1% 2%;
    height: 100vh;
}
.portfolio__header {
    font-family: 'UxumR';
    /* border-style: solid; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5%;

}
.portfolio__header > p {
    font-size: 1.4em;
}
.portfolio__content {
    /* border-style: solid; */
    display: flex;
    flex-direction: row;
}
.portfolio__list {
    /* border-style: solid; */
    /* display: flex; */
    /* min-width: 25vw; */
    max-width: 100%;
    width: 25vw;
    flex-basis: 100%;
    /* position: absolute; */
}
.portfolio__image {
    display: flex;
    /* border-style: solid; */
    /* padding-right: 15vw; */
    width: 150vw;
    height: 70vh;
    /* padding-top: 5%; */
}

.portfolio__header__button {
    font-size: 0.5em;
    padding-right: 5%;
}
