.portfolio {
    /* border-style: solid;
    border-color: green; */
    display: flex;
    flex-direction: column;
    padding: 0% 10%;
    height: 100vh;
}
.portfolio__header {
    font-family: 'UxumR';
    /* border-style: solid; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    font-size: 1.4em;
}
.portfolio__content {
    /* border-style: solid; */
    display: flex;
    flex-direction: row;
}
.portfolio__list {
    /* border-style: solid; */
    /* display: flex; */
    max-width: 100%;
    flex-basis: 100%;
    /* position: absolute; */
}
.portfolio__image {
    display: flex;
    /* border-style: solid; */
    width: 40%;
    padding-top: 5%;
}

