.splash {
    position: relative;
    
    color: white;
    height: 100vh;
    width: 100vw;
}
.splash__title {
    /* padding-top: 50vh; */
}
.splash__menu > p {
    color: black;
    font-size: 4em;
}
.splash__menu {
    display: flex;
    justify-content: space-between;
    padding-top: 60vh;
    padding-left: 10vw;
    padding-right: 10vw;
}
.splash__button {
    /* position: absolute; */
    font-size: 2em;
    background-color: rgba(0,0,0,0);
    transition: font-size 0.5s ease-in-out, color 0.2s;
}
a {
    text-decoration: none;
    padding: 0;
    transition: color 0.2s ease-in-out;
}
a:visited {
    color: black;
    transition: color 0.2s ease-in-out;
}
a:hover {
    color: gray;
    transition: color 0.2s ease-in-out;
}
.splash__button:hover {
    font-size: 2.2em;
    transition: font-size 0.5s ease-in-out
}
.splash__p5 {
    /* top: 0; */
    position: relative;
    z-index: -3;
}